@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@font-face {
  font-family: liberation-regular;
  src: url("../fonts/liberation-sans/LiberationSans-Regular.ttf"); }

@font-face {
  font-family: liberation-bold;
  src: url("../fonts/liberation-sans/LiberationSans-Bold.ttf"); }

@font-face {
  font-family: liberation-italic;
  src: url("../fonts/liberation-sans/LiberationSans-Italic.ttf"); }

* {
  box-sizing: border-box !important;
  font-family: 'liberation-regular'; }

body {
  background-color: #F5F8FA !important; }

.div-center {
  text-align: center; }

#inputUser-container {
  margin-bottom: 0.5em; }

#profile-search-header {
  text-align: center;
  font-size: 2em; }

#userProfileInput {
  width: 25%;
  margin: 0 auto; }

#profileImg {
  float: left;
  border: 5px solid #fff;
  border-radius: 12px; }
  #profileImg img {
    height: 128px;
    width: auto;
    border-radius: 8px; }

.user-main {
  padding: 5px;
  height: 148px;
  position: relative; }
  .user-main .profile-username {
    display: inline-block;
    margin-top: 0.7em;
    color: black;
    font-size: 1.2em; }
  .user-main .profile-screenName {
    line-height: 0.5em;
    margin-bottom: 0.7em;
    font-size: 0.9em; }
    .user-main .profile-screenName a:link,
    .user-main .profile-screenName a:visited {
      color: gray; }
  .user-main .profile-location {
    position: absolute;
    bottom: 5px; }

.screen-name {
  color: gray;
  line-height: 0.5em;
  margin-bottom: 0.7em;
  font-size: 0.9em; }

.profile-stats {
  overflow: auto; }
  .profile-stats .profile-stat {
    padding: 5px 10px;
    float: left;
    text-align: center;
    border-right: 1px solid #1a252f; }
    .profile-stats .profile-stat .profile-stat-name {
      text-transform: uppercase;
      font-size: 0.9em;
      color: gray; }
    .profile-stats .profile-stat .profile-stat-count {
      font-family: 'liberation-bold';
      font-size: 1.2em; }
  .profile-stats :last-child {
    border-right: none; }

.stats-info {
  color: gray;
  display: block;
  text-align: center; }

#stats-form {
  margin-top: 5%; }

#getStatsBtn {
  text-align: center; }

.tweets-container .stat-header {
  font-size: 1.3em;
  margin: 0 auto; }

.stats-header {
  display: block;
  width: 75%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 5px;
  padding-bottom: 9px;
  border-bottom: 1px solid #c7c7c7;
  font-size: 2em; }

.stat-header {
  text-align: center;
  text-transform: uppercase;
  font-family: 'liberation-bold'; }

@media only screen and (max-width: 991px) {
  .user-main, .profile-stats {
    display: table;
    margin: 0 auto; }
  .stats-header {
    text-align: center;
    width: 100%; }
  #userProfileInput {
    width: 75%; } }

@media only screen and (max-width: 414px) {
  .profile-wrapper {
    display: table;
    margin: 0 auto; } }

.tweet {
  margin: 0 auto;
  background: white;
  border: 1px solid #cbd3d9;
  border-radius: 4px;
  max-width: 520px;
  margin-bottom: 1em; }

.tweet-wrapper {
  padding: 20px 20px 11.6px 20px; }

.tweet-content {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none; }

.tweet-header {
  position: relative;
  padding-left: 45px;
  white-space: nowrap; }

.tweet-author {
  margin-top: 2px;
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important; }

.tweet-author-link {
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit; }

.tweet-author-avatar {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  overflow: hidden;
  background-color: transparent;
  border-radius: 4px; }
  .tweet-author-avatar img {
    width: 36px;
    height: 36px; }

.tweet-author-name {
  font-weight: 700;
  display: block; }

.tweet-author-screenName {
  font-size: 14px; }

.tweet-body {
  margin-top: 14px; }

.tweet-text {
  cursor: text; }

.tweet-date {
  margin-top: 5px;
  color: gray; }

.tweet-stats {
  margin-top: 8.4px; }

.tweet-action + .tweet-action {
  margin-left: 14px; }